In [98]:
import pandas as pd
import seaborn as sns; sns.set('notebook')
import matplotlib.pyplot as plt
params = {'legend.fontsize': 'large',
          'figure.figsize': (16, 9),
         'axes.labelsize': 'large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'medium',
         'ytick.labelsize':'medium'}
plt.rcParams.update(params)

In [99]:
df = pd.read_csv('densenet_inference_test.csv', index_col=0)
df.mean()

exit           0.973000
prediction    48.845000
target        49.500000
correct        0.823600
score          0.824121
time           0.031988
dtype: float64

In [100]:
data = df.to_numpy()

In [101]:
df = pd.DataFrame(data[1:], columns=['exit', 'prediction', 'target', 'correct', 'score', 'time'])

In [102]:
df.mean()

exit           0.973195
prediction    48.854771
target        49.509902
correct        0.823565
score          0.824153
time           0.031801
dtype: float64

In [103]:
len(df.loc[df['exit']==0])

1725

In [104]:
len(df.loc[(df['exit']==0) & (df['correct'] == False)])

219

In [105]:
len(df.loc[df['exit']==1])

2072

In [106]:
len(df.loc[df['exit']==2])

813

In [107]:
len(df.loc[df['exit']==3])

389

In [108]:
len(df.loc[(df['exit']==3) & (df['correct'] == False)])

177

In [109]:
len(df.loc[(df['correct'] == False)])

882

# ResNet

In [110]:
df = pd.read_csv('resnet100_inference_test.csv', index_col=0)
df

      exit  prediction  target  correct  score_margin      time
0        0           0       0     True      0.704924  0.999045
1        0           0       0     True      0.692787  0.011170
2        0           0       0     True      0.948392  0.009090
3        1           0       0     True      0.999067  0.016244
4        0           0       0     True      0.923774  0.009890
5        0           0       0     True      0.938697  0.008565
6        0           0       0     True      0.999065  0.009321
7        0           0       0     True      0.998961  0.008659
8        1           0       0     True      0.988659  0.015459
9        1          92       0    False      0.552760  0.016157
10       0           0       0     True      0.999223  0.009862
11       1           0       0     True      0.998272  0.016290
12       0           0       0     True      0.999298  0.009774
13       0           0       0     True      0.915590  0.010769
14       0           0       0     True      0.683763  0.008999
15       0           0       0     True      0.959835  0.008885
16       1           0       0     True      0.993273  0.017438
17       1           0       0     True      0.611046  0.015170
18       0           0       0     True      0.927315  0.010059
19       2           0       0     True      0.765159  0.022776
20       0           0       0     True      0.983102  0.008357
21       0           0       0     True      0.935521  0.008473
22       0           0       0     True      0.979016  0.008694
23       1           0       0     True      0.988990  0.016509
24       0           0       0     True      0.983667  0.009158
25       0           0       0     True      0.791986  0.010122
26       2           0       0     True      0.653407  0.024185
27       2           0       0     True      0.999202  0.024402
28       0           0       0     True      0.771900  0.008728
29       0           0       0     True      0.997234  0.010701
...    ...         ...     ...      ...           ...       ...
4970     2          99      99     True      0.912183  0.022279
4971     2          99      99     True      0.847615  0.021148
4972     1           7      99    False      0.805577  0.014462
4973     1          99      99     True      0.879296  0.015582
4974     1          25      99    False      0.601187  0.014557
4975     2          99      99     True      0.736414  0.024189
4976     2          99      99     True      0.981120  0.023858
4977     2          99      99     True      0.999687  0.024332
4978     2          99      99     True      0.904725  0.021996
4979     3          76      99    False      0.549784  0.028177
4980     1          99      99     True      0.666762  0.015281
4981     1          99      99     True      0.873707  0.014596
4982     3          17      99    False      0.027994  0.026955
4983     2          99      99     True      0.997940  0.021274
4984     2          99      99     True      0.523941  0.024085
4985     3          99      99     True      0.612849  0.026586
4986     2          99      99     True      0.966043  0.026112
4987     3           6      99    False      0.912291  0.029575
4988     3          99      99     True      0.858998  0.027083
4989     3          99      99     True      0.925278  0.025010
4990     2          99      99     True      0.936216  0.024366
4991     2          99      99     True      0.999348  0.024497
4992     3          99      99     True      0.035488  0.027675
4993     2          99      99     True      0.890211  0.020503
4994     2          99      99     True      0.811302  0.021069
4995     2          99      99     True      0.925775  0.021005
4996     2          99      99     True      0.953456  0.020445
4997     2          99      99     True      0.949504  0.020379
4998     2          99      99     True      0.999689  0.022963
4999     2          99      99     True      0.891263  0.022420

[5000 rows x 6 columns]

In [111]:
data = df.to_numpy()

In [112]:
df = pd.DataFrame(data[1:], columns=['exit', 'prediction', 'target', 'correct', 'score', 'time'])

In [113]:
df.mean()

exit           1.188838
prediction    49.025405
target        49.509902
correct        0.832767
score          0.802988
time           0.017182
dtype: float64

In [114]:
len(df.loc[df['exit']==0])

1389

In [115]:
len(df.loc[(df['exit']==0) & (df['correct'] == False)])

187

In [116]:
len(df.loc[df['exit']==1])

1830

In [117]:
len(df.loc[df['exit']==2])

1227

In [118]:
len(df.loc[df['exit']==3])

553

In [119]:
len(df.loc[(df['exit']==3) & (df['correct'] == False)])

249

In [120]:
len(df.loc[(df['correct'] == False)])

836