In [98]:
import pandas as pd
import seaborn as sns; sns.set('notebook')
import matplotlib.pyplot as plt
params = {'legend.fontsize': 'large',
          'figure.figsize': (16, 9),
         'axes.labelsize': 'large',
         'axes.titlesize':'x-large',
         'xtick.labelsize':'medium',
         'ytick.labelsize':'medium'}
plt.rcParams.update(params)

In [99]:
df = pd.read_csv('densenet_inference_test.csv', index_col=0)
df.mean()

exit           0.973000
prediction    48.845000
target        49.500000
correct        0.823600
score          0.824121
time           0.031988
dtype: float64

In [100]:
data = df.to_numpy()

In [101]:
df = pd.DataFrame(data[1:], columns=['exit', 'prediction', 'target', 'correct', 'score', 'time'])

In [102]:
df.mean()

exit           0.973195
prediction    48.854771
target        49.509902
correct        0.823565
score          0.824153
time           0.031801
dtype: float64

In [103]:
len(df.loc[df['exit']==0])

1725

In [104]:
len(df.loc[(df['exit']==0) & (df['correct'] == False)])

219

In [105]:
len(df.loc[df['exit']==1])

2072

In [106]:
len(df.loc[df['exit']==2])

813

In [107]:
len(df.loc[df['exit']==3])

389

In [108]:
len(df.loc[(df['exit']==3) & (df['correct'] == False)])

177

In [109]:
len(df.loc[(df['correct'] == False)])

882

# ResNet

In [121]:
df = pd.read_csv('resnet101_inference_test.csv', index_col=0)
df

      exit  prediction  target  correct  score_margin      time
0        1           0       0     True      0.824644  1.022918
1        0           0       0     True      0.989505  0.014337
2        1           0       0     True      0.784889  0.019070
3        0           0       0     True      0.870633  0.012316
4        0           0       0     True      0.660327  0.013114
5        0           0       0     True      0.799488  0.012617
6        0           0       0     True      0.999894  0.012900
7        0           0       0     True      0.998322  0.011966
8        1           0       0     True      0.962256  0.019460
9        3           0       0     True      0.950259  0.057412
10       0           0       0     True      0.999308  0.012740
11       1           0       0     True      0.966903  0.018304
12       0           0       0     True      0.999629  0.012242
13       0           0       0     True      0.591016  0.012751
14       1           0       0     True      0.953795  0.019145
15       0           0       0     True      0.587604  0.012985
16       1           0       0     True      0.968831  0.019753
17       1           0       0     True      0.540461  0.018451
18       0           0       0     True      0.982343  0.012862
19       1           0       0     True      0.585514  0.018773
20       0           0       0     True      0.992415  0.012871
21       0           0       0     True      0.778268  0.012844
22       0           0       0     True      0.994372  0.012749
23       0           0       0     True      0.506668  0.012900
24       0           0       0     True      0.985607  0.013024
25       0           0       0     True      0.734526  0.012625
26       2           0       0     True      0.990066  0.043241
27       1           0       0     True      0.828204  0.018557
28       0           0       0     True      0.664918  0.012827
29       0           0       0     True      0.971619  0.013502
...    ...         ...     ...      ...           ...       ...
4970     3          99      99     True      0.963496  0.047287
4971     2          99      99     True      0.875523  0.049895
4972     1           7      99    False      0.795115  0.017626
4973     1          99      99     True      0.811457  0.018459
4974     2          99      99     True      0.997902  0.044007
4975     2          99      99     True      0.995079  0.044213
4976     2          99      99     True      0.999957  0.043158
4977     2          99      99     True      0.999948  0.042670
4978     2          99      99     True      0.982726  0.042570
4979     3          82      99    False      0.280264  0.054728
4980     2          99      99     True      0.999976  0.046685
4981     1          99      99     True      0.819430  0.018200
4982     3          48      99    False      0.443463  0.047246
4983     2          99      99     True      0.999776  0.047184
4984     2          99      99     True      0.989836  0.043833
4985     3           6      99    False      0.405069  0.051977
4986     2          99      99     True      0.991174  0.042954
4987     3           6      99    False      0.849632  0.047049
4988     0          46      99    False      0.713096  0.011671
4989     2          99      99     True      0.750045  0.043881
4990     2          99      99     True      0.918890  0.042492
4991     2          99      99     True      0.999996  0.042962
4992     3          62      99    False      0.972721  0.045891
4993     2          99      99     True      0.999403  0.043144
4994     2          99      99     True      0.999166  0.041202
4995     2          99      99     True      0.999986  0.044237
4996     2          99      99     True      0.934735  0.046345
4997     2          99      99     True      0.999788  0.045119
4998     2          99      99     True      1.000000  0.044835
4999     2          99      99     True      0.998888  0.046063

[5000 rows x 6 columns]

In [122]:
data = df.to_numpy()

In [123]:
df = pd.DataFrame(data[1:], columns=['exit', 'prediction', 'target', 'correct', 'score', 'time'])

In [124]:
df.mean()

exit           1.215243
prediction    49.086017
target        49.509902
correct        0.848770
score          0.826469
time           0.027999
dtype: float64

In [125]:
len(df.loc[df['exit']==0])

1285

In [126]:
len(df.loc[(df['exit']==0) & (df['correct'] == False)])

176

In [127]:
len(df.loc[df['exit']==1])

1707

In [128]:
len(df.loc[df['exit']==2])

1653

In [129]:
len(df.loc[df['exit']==3])

354

In [130]:
len(df.loc[(df['exit']==3) & (df['correct'] == False)])

189

In [131]:
len(df.loc[(df['correct'] == False)])

756